# Agent
.agent
.gemini

#Sessions
eye_tracking_prototype/sessions/
hrv_monitor_prototype/sessions/
__pycache__/
eye_tracking_prototype/modules/__pycache__
eyebeam
sessions/*
!sessions/saved_session/
!sessions/saved_session/**
